In [3]:
%matplotlib inline
import matplotlib
import seaborn as sns
sns.set()
matplotlib.rcParams['figure.dpi'] = 144

In [109]:
from static_grader import grader

# DW Miniproject
## Introduction

The objective of this miniproject is to exercise your ability to wrangle tabular data set and aggregate large data sets into meaningful summary statistics. We'll work with the same medical data used in the `pw` miniproject but leverage the power of Pandas to more efficiently represent and act on our data.

## Downloading the data

We first need to download the data we'll be using from Amazon S3:

In [51]:
!mkdir dw-data
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz -nc -P ./dw-data/
!wget http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz -nc -P ./dw-data/

mkdir: cannot create directory ‘dw-data’: File exists
--2019-12-03 04:12:03--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/201701scripts_sample.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.216.138.235
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.216.138.235|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19011654 (18M) [text/csv]
Saving to: ‘./dw-data/201701scripts_sample.csv.gz’

201701scripts_sampl 100%[===================>]  18.13M  38.7MB/s    in 0.5s

2019-12-03 04:12:03 (38.7 MB/s) - ‘./dw-data/201701scripts_sample.csv.gz’ saved [19011654/19011654]

--2019-12-03 04:12:03--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/201606scripts_sample.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.216.138.235
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.216.138.235|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18768259 (18M) [text/csv]
Saving to: ‘./dw-data/201606scripts_sample.csv.gz’

201606scripts_sampl 100%[===================>]  17.90M  38.6MB/s    in 0.5s

2019-12-03 04:12:04 (38.6 MB/s) - ‘./dw-data/201606scripts_sample.csv.gz’ saved [18768259/18768259]

--2019-12-03 04:12:04--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/practices.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.217.46.196
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.217.46.196|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 333225 (325K) [application/x-gzip]
Saving to: ‘./dw-data/practices.csv.gz’

practices.csv.gz    100%[===================>] 325.42K  --.-KB/s    in 0.01s

2019-12-03 04:12:04 (24.5 MB/s) - ‘./dw-data/practices.csv.gz’ saved [333225/333225]

--2019-12-03 04:12:04--  http://dataincubator-wqu.s3.amazonaws.com/dwdata/chem.csv.gz
Resolving dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)... 52.217.46.196
Connecting to dataincubator-wqu.s3.amazonaws.com (dataincubator-wqu.s3.amazonaws.com)|52.217.46.196|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 31829 (31K) [application/x-gzip]
Saving to: ‘./dw-data/chem.csv.gz’

chem.csv.gz         100%[===================>]  31.08K  --.-KB/s    in 0.001s

2019-12-03 04:12:04 (47.9 MB/s) - ‘./dw-data/chem.csv.gz’ saved [31829/31829]

## Loading the data

Similar to the `PW` miniproject, the first step is to read in the data. The data files are stored as compressed CSV files. You can load the data into a Pandas DataFrame by making use of the `gzip` package to decompress the files and Panda's `read_csv` methods to parse the data into a DataFrame. You may want to check the Pandas documentation for parsing [CSV](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) files for reference.

For a description of the data set please, refer to the [PW miniproject](./pw.ipynb). **Note that all questions make use of the 2017 data only, except for Question 5 which makes use of both the 2017 and 2016 data.**

In [5]:
import pandas as pd
import numpy as np
import gzip

In [6]:
# load the 2017 data
scripts = pd.read_csv('./dw-data/201701scripts_sample.csv.gz',compression = 'gzip')
scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6

In [95]:
col_names=[ 'code', 'name', 'addr_1', 'addr_2', 'borough', 'village', 'post_code']
practices = pd.read_csv('./dw-data/practices.csv.gz',compression = 'gzip', header = None, names = col_names)
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [144]:
chem = pd.read_csv('./dw-data/chem.csv.gz',compression = 'gzip')
chem.head()

    CHEM SUB                                NAME
0  0101010A0                     Alexitol Sodium
1  0101010B0                          Almasilate
2  0101010C0                 Aluminium Hydroxide
3  0101010D0  Aluminium Hydroxide With Magnesium
4  0101010E0                        Hydrotalcite

Now that we've loaded in the data, let's first replicate our results from the `PW` miniproject. Note that we are now working with a larger data set so the answers will be different than in the `PW` miniproject even if the analysis is the same.

## Question 1: summary_statistics

In the `PW` miniproject we first calculated the total, mean, standard deviation, and quartile statistics of the `'items'`, `'quantity'`', `'nic'`, and `'act_cost'` fields. To do this we had to write some functions to calculate the statistics and apply the functions to our data structure. The DataFrame has a `describe` method that will calculate most (not all) of these things for us.

Submit the summary statistics to the grader as a list of tuples: [('act_cost', (total, mean, std, q25, median, q75)), ...]

In [38]:
scripts['items'].sum()

8888304

In [39]:
def summary(dataframe_col_name):
    t = list(scripts.describe()[dataframe_col_name].drop(['count','min','max']))
    t.insert(0,scripts[dataframe_col_name].sum())
    return dataframe_col_name,tuple(t)

print(summary('items'))
print(summary('quantity'))
print(summary('nic'))
print(summary('act_cost'))

('items', (8888304, 9.133135976111625, 29.204198282803603, 1.0, 2.0, 6.0))
('quantity', (721457006, 741.3298348837282, 3665.426958467915, 28.0, 100.0, 350.0))
('nic', (71100424.84000002, 73.05891517920908, 188.070256906825, 7.8, 22.64, 65.0))
('act_cost', (66164096.11999999, 67.98661326170655, 174.40170332301963, 7.33, 21.22, 60.67))

In [40]:
summary_stats = [summary('items'), summary('quantity'), summary('nic'), summary('act_cost')]

In [41]:
grader.score.dw__summary_statistics(summary_stats)

==================
Your score:  1.0
==================

## Question 2: most_common_item

We can also easily compute summary statistics on groups within the data. In the `pw` miniproject we had to explicitly construct the groups based on the values of a particular field. Pandas will handle that for us via the `groupby` method. This process is [detailed in the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/groupby.html).

Use `groupby` to calculate the total number of items dispensed for each `'bnf_name'`. Find the item with the highest total and return the result as `[(bnf_name, total)]`.

In [30]:
bnf_name_grouped = scripts.groupby('bnf_name')
bnf_name_grouped['items'].sum().idxmax(), bnf_name_grouped['items'].sum().max()

('Omeprazole_Cap E/C 20mg', 218583)

In [26]:
most_common_item = [("Omeprazole_Cap E/C 20mg", 218583)]

In [42]:
grader.score.dw__most_common_item(most_common_item)

==================
Your score:  1.0
==================

## Question 3: items_by_region

Now let's find the most common item by post code. The post code information is in the `practices` DataFrame, and we'll need to `merge` it into the `scripts` DataFrame. Pandas provides [extensive documentation](https://pandas.pydata.org/pandas-docs/stable/merging.html) with diagrammed examples on different methods and approaches for joining data. The `merge` method is only one of many possible options.

Return your results as a list of tuples `(post code, item name, amount dispensed as % of total)`. Sort your results ascending alphabetically by post code and take only results from the first 100 post codes.

**NOTE:** Some practices have multiple postal codes associated with them. Use the alphabetically first postal code. Note some postal codes may have multiple `'bnf_name'` with the same prescription rate for the maximum. In this case, take the alphabetically first `'bnf_name'` (as in the PW miniproject).

In [7]:
practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
0,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
1,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
2,A81003,VICTORIA MEDICAL PRACTICE,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,TS26 8DB
3,A81004,WOODLANDS ROAD SURGERY,6 WOODLANDS ROAD,NaN,MIDDLESBROUGH,CLEVELAND,TS1 3BE
4,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,TS14 7DJ

In [9]:
sorted_practices = practices.sort_values('post_code').drop_duplicates('code', keep = 'first')
sorted_practices.head()

,code,name,addr_1,addr_2,borough,village,post_code
1896,E82060,PARKBURY HOUSE SURGERY,PARKBURY HOUSE,ST.PETERS STREET,ST.ALBANS,HERTFORDSHIRE,AL1 3HD
1871,E82031,MALTINGS SURGERY,THE MALTINGS SURGERY,8-14 VICTORIA STREET,ST ALBANS,HERTFORDSHIRE,AL1 3JB
1849,E82004,HATFIELD ROAD SURGERY,61 HATFIELD ROAD,NaN,ST.ALBANS,HERTFORDSHIRE,AL1 4JE
1848,E82002,WRAFTON HOUSE SURGERY,WRAFTON HOUSE SURGERY,9/11 WELLFIELD ROAD,HATFIELD,HERTFORDSHIRE,AL10 0BS
9812,Y05146,HCT LYMPHOEDEMA AT WEST ESSEX CCG,QUEENSWAY HEALTH CENTRE,QUEENSWAY,HATFIELD,HERTFORDSHIRE,AL10 0LF

In [10]:
merged = scripts.merge(sorted_practices, left_on='practice', right_on='code',how = 'inner')
merged.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,code,name,addr_1,addr_2,borough,village,post_code
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,N85639,GP OOH VCH,VICTORIA CENTRAL HOSPITAL,MILL LANE,WALLASEY,NaN,CH44 5UF

In [11]:
total_items_by_postcode = merged.groupby(['post_code','bnf_name'])[['items']].sum()
total_items_by_postcode.head()

                                                    items
post_code bnf_name
B11 4BW   3m Health Care_Cavilon Durable Barrier C      7
          3m Health Care_Cavilon No Sting Barrier       2
          Abasaglar KwikPen_100u/ml 3ml Pf Pen          2
          Abidec_Dps                                   63
          Able Spacer + Sml/Med Mask                    1

In [12]:
total_items_by_postcode.reset_index(inplace=True)
total_items_by_postcode.head()

  post_code                                  bnf_name  items
0   B11 4BW  3m Health Care_Cavilon Durable Barrier C      7
1   B11 4BW   3m Health Care_Cavilon No Sting Barrier      2
2   B11 4BW      Abasaglar KwikPen_100u/ml 3ml Pf Pen      2
3   B11 4BW                                Abidec_Dps     63
4   B11 4BW                Able Spacer + Sml/Med Mask      1

In [13]:
total_items_max = total_items_by_postcode.groupby('post_code')[['items']].max()
total_items_max.head()

           items
post_code
B11 4BW      706
B12 9LP      425
B18 7AL      556
B21 9RY     1033
B23 6DJ      599

In [14]:
total_items = total_items_max.merge(total_items_by_postcode, on=['post_code','items'], how = 'left')
total_items.head()

  post_code  items                            bnf_name
0   B11 4BW    706  Salbutamol_Inha 100mcg (200 D) CFF
1   B12 9LP    425                   Paracet_Tab 500mg
2   B18 7AL    556  Salbutamol_Inha 100mcg (200 D) CFF
3   B21 9RY   1033             Metformin HCl_Tab 500mg
4   B23 6DJ    599    Lansoprazole_Cap 30mg (E/C Gran)

In [15]:
total_items_sorted = total_items.sort_values('bnf_name').drop_duplicates(['post_code','items'], keep='first')
total_items_sorted.head()

    post_code  items             bnf_name
73    E15 4ES    451  Amlodipine_Tab 10mg
66   DN16 2AB   1072   Amlodipine_Tab 5mg
255   WS9 8AJ    396   Amlodipine_Tab 5mg
142   NG2 7SD    605   Amlodipine_Tab 5mg
97   KT16 8HZ    401   Amlodipine_Tab 5mg

In [16]:
total_items_sorted.sort_values('post_code', inplace=True)
total_items_sorted.head()

  post_code  items                            bnf_name
0   B11 4BW    706  Salbutamol_Inha 100mcg (200 D) CFF
1   B12 9LP    425                   Paracet_Tab 500mg
2   B18 7AL    556  Salbutamol_Inha 100mcg (200 D) CFF
3   B21 9RY   1033             Metformin HCl_Tab 500mg
4   B23 6DJ    599    Lansoprazole_Cap 30mg (E/C Gran)

In [17]:
s = total_items_by_postcode.groupby('post_code')[['items']].sum().reset_index()
s.head()

  post_code  items
0   B11 4BW  22731
1   B12 9LP  17073
2   B18 7AL  20508
3   B21 9RY  31027
4   B23 6DJ  28011

In [18]:
final_df = s.merge(total_items_sorted, on='post_code')
final_df.head()

  post_code  items_x  items_y                            bnf_name
0   B11 4BW    22731      706  Salbutamol_Inha 100mcg (200 D) CFF
1   B12 9LP    17073      425                   Paracet_Tab 500mg
2   B18 7AL    20508      556  Salbutamol_Inha 100mcg (200 D) CFF
3   B21 9RY    31027     1033             Metformin HCl_Tab 500mg
4   B23 6DJ    28011      599    Lansoprazole_Cap 30mg (E/C Gran)

In [20]:
final_df['amt%'] = final_df['items_y'].astype(float)/final_df['items_x'].astype(float)
final_df.head()

  post_code  items_x  items_y                            bnf_name      amt%
0   B11 4BW    22731      706  Salbutamol_Inha 100mcg (200 D) CFF  0.031059
1   B12 9LP    17073      425                   Paracet_Tab 500mg  0.024893
2   B18 7AL    20508      556  Salbutamol_Inha 100mcg (200 D) CFF  0.027111
3   B21 9RY    31027     1033             Metformin HCl_Tab 500mg  0.033294
4   B23 6DJ    28011      599    Lansoprazole_Cap 30mg (E/C Gran)  0.021384

In [21]:
result = final_df[['post_code','bnf_name','amt%']]
result.head()

  post_code                            bnf_name      amt%
0   B11 4BW  Salbutamol_Inha 100mcg (200 D) CFF  0.031059
1   B12 9LP                   Paracet_Tab 500mg  0.024893
2   B18 7AL  Salbutamol_Inha 100mcg (200 D) CFF  0.027111
3   B21 9RY             Metformin HCl_Tab 500mg  0.033294
4   B23 6DJ    Lansoprazole_Cap 30mg (E/C Gran)  0.021384

In [24]:
result = result.head(100)
answer = []
for values in result.values:
    answer.append(tuple(values))

In [23]:
items_by_region = [("B11 4BW", "Salbutamol_Inha 100mcg (200 D) CFF", 0.026332)] * 100

In [25]:
items_by_region = answer

In [26]:
grader.score.dw__items_by_region(items_by_region)

==================
Your score:  1.0
==================

## Question 4: script_anomalies

Drug abuse is a source of human and monetary costs in health care. A first step in identifying practitioners that enable drug abuse is to look for practices where commonly abused drugs are prescribed unusually often. Let's try to find practices that prescribe an unusually high amount of opioids. The opioids we'll look for are given in the list below.

In [142]:
opioids = ['morphine', 'oxycodone', 'methadone', 'fentanyl', 'pethidine', 'buprenorphine', 'propoxyphene', 'codeine']

These are generic names for drugs, not brand names. Generic drug names can be found using the `'bnf_code'` field in `scripts` along with the `chem` table.. Use the list of opioids provided above along with these fields to make a new field in the `scripts` data that flags whether the row corresponds with a opioid prescription.

In [145]:
chem.head(10)

    CHEM SUB                                      NAME
0  0101010A0                           Alexitol Sodium
1  0101010B0                                Almasilate
2  0101010C0                       Aluminium Hydroxide
3  0101010D0        Aluminium Hydroxide With Magnesium
4  0101010E0                              Hydrotalcite
5  0101010F0                       Magnesium Carbonate
6  0101010G0  Co-Magaldrox(Magnesium/Aluminium Hydrox)
7  0101010I0                           Magnesium Oxide
8  0101010J0                     Magnesium Trisilicate
9  0101010L0    Aluminium & Magnesium & Act Simeticone

In [146]:
opioids_str = '|'.join(opioids) 
opioids_str

'morphine|oxycodone|methadone|fentanyl|pethidine|buprenorphine|propoxyphene|codeine'

In [147]:
opioids_NAME = chem['NAME'].str.contains(opioids_str, case=False)
opioids_List = chem.loc[opioids_NAME]['CHEM SUB'].tolist()
len(opioids_List)

35

In [148]:
from scipy.stats import zscore

In [149]:
opioids_scripts = scripts
opioids_scripts['opioids'] = opioids_scripts['bnf_code'].isin(opioids_List)
opioids_scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,rare,opioids
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,False,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,False,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,False,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,False,False

In [141]:
opioids_scripts.shape

(973193, 8)

In [121]:
score.head()

practice
A81005    [-0.18518725150289303, -0.18518725150289303, -...
A81007    [-0.21274399659906448, -0.21274399659906448, -...
A81011    [-0.2209033504026086, -0.2209033504026086, -0....
A81012    [-0.211358272556817, -0.211358272556817, -0.21...
A81017    [-0.19908137735371037, -0.19908137735371037, -...
Name: opioids, dtype: object

Now for each practice calculate the proportion of its prescriptions containing opioids.

**Hint:** Consider the following list: `[0, 1, 1, 0, 0, 0]`. What proportion of the entries are 1s? What is the mean value?

In [150]:
opioid_prescriptions = opioids_scripts.groupby('practice')['opioids'].count().rename('opioid prescriptions')
opioid_prescriptions['Y01852']

7

In [151]:
opioids_per_practice = opioids_scripts.groupby('practice')['opioids'].mean().rename('opioid prescription rate')
print('Overall rate :',opioids_scripts['opioids'].mean())
opioids_per_practice.head()

Overall rate : 0.03580276471367961

practice
A81005    0.033179
A81007    0.043329
A81011    0.046556
A81012    0.042793
A81017    0.038140
Name: opioid prescription rate, dtype: float64

How do these proportions compare to the overall opioid prescription rate? Subtract off the proportion of all prescriptions that are opioids from each practice's proportion.

In [152]:
relative_opioids_per_practice = opioids_per_practice - opioids_scripts['opioids'].mean()
relative_opioids_per_practice.rename('relative diffrence',inplace = True)
relative_opioids_per_practice.head()

practice
A81005   -0.002624
A81007    0.007526
A81011    0.010753
A81012    0.006990
A81017    0.002337
Name: relative diffrence, dtype: float64

In [153]:
sd_per_pactice = opioids_scripts.groupby('practice')['opioids'].std().rename('standard deviation')
sd_per_pactice.head()

practice
A81005    0.179162
A81007    0.203666
A81011    0.210753
A81012    0.202466
A81017    0.191578
Name: standard deviation, dtype: float64

Now that we know the difference between each practice's opioid prescription rate and the overall rate, we can identify which practices prescribe opioids at above average or below average rates. However, are the differences from the overall rate important or just random deviations? In other words, are the differences from the overall rate big or small?

To answer this question we have to quantify the difference we would typically expect between a given practice's opioid prescription rate and the overall rate. This quantity is called the **standard error**, and is related to the **standard deviation**, $\sigma$. The standard error in this case is

$$ \frac{\sigma}{\sqrt{n}} $$

where $n$ is the number of prescriptions each practice made. Calculate the standard error for each practice. Then divide `relative_opioids_per_practice` by the standard errors. We'll call the final result `opioid_scores`.

In [154]:
overall_std = opioids_scripts['opioids'].std()
overall_std

0.18579817605238425

In [23]:
number_of_prescriptions_per_pactice = opioids_scripts.groupby('practice')['bnf_code'].count().rename('n')
sqrt_number_of_prescriptions_per_pactice = np.sqrt(number_of_prescriptions_per_pactice)
sqrt_number_of_prescriptions_per_pactice.rename('sqrt n',inplace = True)
sqrt_number_of_prescriptions_per_pactice.head()

practice
A81005    38.820098
A81007    38.131352
A81011    39.597980
A81012    36.496575
A81017    46.368092
Name: sqrt n, dtype: float64

In [155]:
number_of_prescriptions_per_pactice = opioids_scripts.groupby('practice')['bnf_code'].count().rename('n')
sqrt_number_of_prescriptions_per_pactice = number_of_prescriptions_per_pactice**0.5
sqrt_number_of_prescriptions_per_pactice.rename('sqrt n',inplace = True)
sqrt_number_of_prescriptions_per_pactice.head()

practice
A81005    38.820098
A81007    38.131352
A81011    39.597980
A81012    36.496575
A81017    46.368092
Name: sqrt n, dtype: float64

The quantity we have calculated in `opioid_scores` is called a **z-score**:

$$ \frac{\bar{X} - \mu}{\sqrt{\sigma^2/n}} $$

Here $\bar{X}$ corresponds with the proportion for each practice, $\mu$ corresponds with the proportion across all practices, $\sigma^2$ corresponds with the variance of the proportion across all practices, and $n$ is the number of prescriptions made by each practice. Notice $\bar{X}$ and $n$ will be different for each practice, while $\mu$ and $\sigma$ are determined across all prescriptions, and so are the same for every z-score. The z-score is a useful statistical tool used for hypothesis testing, finding outliers, and comparing data about different types of objects or events.

Now that we've calculated this statistic, take the 100 practices with the largest z-score. Return your result as a list of tuples in the form `(practice_name, z-score, number_of_scripts)`. Sort your tuples by z-score in descending order. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [156]:
standard_error_per_practice = overall_std/sqrt_number_of_prescriptions_per_pactice
standard_error_per_practice.head(10)

practice
A81005    0.004786
A81007    0.004873
A81011    0.004692
A81012    0.005091
A81017    0.004007
A81018    0.004500
A81021    0.004244
A81023    0.004524
A81029    0.005226
A81031    0.004510
Name: sqrt n, dtype: float64

In [157]:
opioid_scores = relative_opioids_per_practice/standard_error_per_practice
opioid_scores.rename('opioid scores')
opioid_scores.values[:20]

array([-0.54830571,  1.54455729,  2.29179452,  1.37306022,  0.58316813,
       -0.52708029,  0.53671185,  0.20975905,  0.41560014,  1.20758269,
        0.42974719,  1.6948317 , -0.46417583,  0.76968589,  0.37605092,
        0.71693583,  0.76369907, -0.29069832,  1.92680854,  1.9047661 ])

In [158]:
opioids_practices = practices[['code', 'name']]
opioids_practices.columns = ['practice', 'name']
opioids_practices.head()

  practice                        name
0   A81001         THE DENSHAM SURGERY
1   A81002  QUEENS PARK MEDICAL CENTRE
2   A81003   VICTORIA MEDICAL PRACTICE
3   A81004      WOODLANDS ROAD SURGERY
4   A81005          SPRINGWOOD SURGERY

In [159]:
opioids_practices.reset_index().head()

   index practice                        name
0      0   A81001         THE DENSHAM SURGERY
1      1   A81002  QUEENS PARK MEDICAL CENTRE
2      2   A81003   VICTORIA MEDICAL PRACTICE
3      3   A81004      WOODLANDS ROAD SURGERY
4      4   A81005          SPRINGWOOD SURGERY

In [160]:
opioid_prescriptions = opioids_scripts.groupby('practice')['opioids'].count().rename('opioid prescriptions')
opioid_prescriptions['Y01852']

7

In [161]:
opioid_prescriptions_sum = opioids_scripts.groupby('practice')['opioids'].sum().rename('opioid total')
opioid_prescriptions_sum ['Y01852']

6.0

In [162]:
stat = pd.concat([opioid_prescriptions,opioid_scores,opioid_prescriptions_sum],axis =1)
stat.columns = ['opioid prescriptions', 'opioid score','sum']

In [171]:
anomalies_stat = stat.merge(opioids_practices, on='practice', how='left')
anomalies_stat.head()

,practice,opioid prescriptions,opioid score,sum,name
0,A81005,1507,-0.548306,50.0,SPRINGWOOD SURGERY
1,A81007,1454,1.544557,63.0,BANKHOUSE SURGERY
2,A81011,1568,2.291795,73.0,CHADWICK PRACTICE
3,A81012,1332,1.373060,57.0,WESTBOURNE MEDICAL CENTRE
4,A81017,2150,0.583168,82.0,WOODBRIDGE PRACTICE

In [172]:
anomalies_stat.sort_values('opioid score', ascending = False , inplace=True)
anomalies_stat.head(10)

,practice,opioid prescriptions,opioid score,sum,name
829,Y01852,7,11.695818,6.0,NATIONAL ENHANCED SERVICE
874,Y03006,2,7.339043,2.0,OUTREACH SERVICE NH / RH
895,Y03668,60,6.150582,11.0,BRISDOC HEALTHCARE SERVICES OOH
296,G81703,36,5.123032,7.0,H&R P C SPECIAL SCHEME
948,Y04997,321,4.958866,28.0,HMR BARDOC OOH
927,Y04585,426,4.888878,34.0,INTEGRATED CARE 24 LTD (CWSX OOH)
620,P81051,1917,4.839159,108.0,DARWEN HEALTHCARE
725,P87017,1321,4.546842,78.0,THE LIMES MEDICAL PRACTICE
815,Y01086,357,4.335047,28.0,IC24 LTD (BRIGHTON & HOVE OOH)
961,Y05327,56,4.311784,8.0,OLDHAM 7 DAY ACCESS HUB2 OOH

In [41]:
anomalies = [("NATIONAL ENHANCED SERVICE", 11.695818, 7)] * 100

In [173]:
unique_practices = anomalies_stat.drop_duplicates('name')
results = anomalies_stat[['name','opioid score','opioid prescriptions']]
results.head()

                                name  opioid score  opioid prescriptions
829        NATIONAL ENHANCED SERVICE     11.695818                     7
874         OUTREACH SERVICE NH / RH      7.339043                     2
895  BRISDOC HEALTHCARE SERVICES OOH      6.150582                    60
296           H&R P C SPECIAL SCHEME      5.123032                    36
948                   HMR BARDOC OOH      4.958866                   321

In [174]:
data = results.head(100)
data = data.values.tolist()
anomalies = []
for d in data:
    anomalies.append(tuple(d))

In [166]:
anomalies = []
for d in data:
    anomalies.append(tuple(d))

In [175]:
anomalies

[('NATIONAL ENHANCED SERVICE', 11.695817862936027, 7),
 ('OUTREACH SERVICE NH / RH', 7.339043019238823, 2),
 ('BRISDOC HEALTHCARE SERVICES OOH', 6.1505817490838295, 60),
 ('H&R P C SPECIAL SCHEME', 5.123032414033079, 36),
 ('HMR BARDOC OOH', 4.958866438487605, 321),
 ('INTEGRATED CARE 24 LTD (CWSX OOH)', 4.8888781604828235, 426),
 ('DARWEN HEALTHCARE', 4.8391589686363385, 1917),
 ('THE LIMES MEDICAL PRACTICE', 4.546841872334426, 1321),
 ('IC24 LTD (BRIGHTON & HOVE OOH)', 4.335047010605197, 357),
 ('OLDHAM 7 DAY ACCESS HUB2 OOH', 4.31178403661019, 56),
 ('IC24 LTD (NORFOLK & WISBECH OOH)', 4.2575005924727645, 489),
 ('ROSSENDALE MIU & OOH', 4.256827446322491, 18),
 ('BURY WALK-IN CENTRE', 4.150589122881536, 138),
 ('IC24 LTD (HORSHAM & MID SUSSEX OOH)', 3.7816207038443523, 215),
 ('LCW HOUNSLOW CCG OOH', 3.582848546206269, 69),
 ('WEEKEND WORKING EASINGTON NORTH', 3.565938771129764, 278),
 ('COMPASS ENFIELD', 3.5587202651067935, 7),
 ('BASSETLAW DRUG & ALCOHOL SERVICE', 3.5332641025115423, 2),
 ('THE PARK SURGERY', 3.511114736389202, 969),
 ('CHAPEL STREET SURGERY', 3.4907459502707447, 1504),
 ('BEECHWOOD MEDICAL PRACTICE', 3.4747953064338977, 1552),
 ('BASSETLAW HOSPICE OF THE GOOD SHEPHERD', 3.454423428527398, 46),
 ('CARDEN SURGERY', 3.4503113243413193, 1375),
 ('GP IN A&E (WIC)', 3.3959177486386096, 87),
 ('NORTHAMPTONSHIRE OUT OF HOURS SERVICE', 3.39355927807245, 382),
 ('NORTHAMPTONSHIRE OOH SERVICE', 3.39355927807245, 382),
 ('WORDEN MEDICAL CENTRE', 3.341328344384246, 1898),
 ('BRISDOC HEALTHCARE SERVICES OOH', 3.3336438396565136, 566),
 ('BURY OOH', 3.321529559970347, 292),
 ('IC24 SOUTHEND/CP&R CCG OOH', 3.2211153199464, 336),
 ('SOUTH ESSEX OOH', 3.2211153199464, 336),
 ('IC24 LTD (CRAWLEY OOH)', 3.1942640976202856, 173),
 ('EASTBOURNE  HAILSHAM & SEAFORD OOH', 2.9896925335154507, 255),
 ('THE ROSEBERRY PRACTICE', 2.9803589486570257, 1450),
 ('SHAFTESBURY MEDICAL CTR.', 2.904593003935284, 2126),
 ('THE RICHMOND HILL PRACTICE', 2.8601891978583245, 1729),
 ('THE RICHMOND HILL PRACTICE', 2.8601891978583245, 1729),
 ('DGS OOH (INTEGRATED CARE 24 LTD)', 2.795651191074179, 325),
 ('THE LAKESIDE PRACTICE', 2.7801243484267157, 1554),
 ('DEWSBURY MSK SERVICE', 2.7736443521856917, 3),
 ('BRISDOC HEALTHCARE SERVICES OOH', 2.7220204978636375, 74),
 ('HALLIWELL SURGERY 1', 2.6902312553464682, 1124),
 ('THE ROYTON & CROMPTON FAMILY PRACTICE', 2.6674099502870625, 2054),
 ('PRACTICE 3  MEDICAL CENTRE  BRIDLINGTON', 2.6526642039852844, 1936),
 ('LCWUCC - IUC NCL', 2.5927932420214392, 443),
 ('DR MOKASHI', 2.496887689055938, 1341),
 ('THE CREST FAMILY PRACTICE', 2.494358442548829, 1294),
 ('PERKINS PRACTICE', 2.479571342887134, 899),
 ('DARLASTON HEALTH CENTRE', 2.4456345065842653, 996),
 ("DR MA SIMS' PRACTICE", 2.4372766106456107, 1857),
 ('1/LOWER BROUGHTON MEDICAL PRACTICE', 2.435636753514273, 1044),
 ('CORNWALLIS PLAZA SURGERY', 2.424202462055629, 2326),
 ('FAIRMORE MEDICAL PRACTICE', 2.382408598971051, 1288),
 ('LAWLEY MEDICAL PRACTICE', 2.373577973078906, 1409),
 ('LAWLEY MEDICAL PRACTICE', 2.373577973078906, 1409),
 ("PEEL GP'S", 2.3535943384931546, 1557),
 ('PEEL GPS DR JACKSON', 2.3535943384931546, 1557),
 ('PEEL GPS', 2.3535943384931546, 1557),
 ('EASTLANDS MEDICAL CENTRE', 2.325396683274206, 1369),
 ('MAGHULL HEALTH CENTRE (DR SAPRE)', 2.3194074094375097, 1322),
 ('INTEGRATED CARE 24 LIMITED OOH', 2.3106497615538943, 511),
 ('WILLOW BANK SURGERY', 2.295642132037915, 1934),
 ('IC24 LTD (HWLH OOH)', 2.2949004338925127, 216),
 ('CHADWICK PRACTICE', 2.2917945205697308, 1568),
 ('C&WPT OOH SERVICE', 2.270852401273787, 341),
 ('THE MERRYWOOD PRACTICE', 2.270550955639659, 1234),
 ('LEYLAND SURGERY', 2.251774286539937, 1213),
 ('LEYLAND SURGERY', 2.251774286539937, 1213),
 ('WALKDEN MEDICAL PRACTICE', 2.2415736140706994, 1577),
 ('RADCLIFFE MEDICAL PRACTICE', 2.239607033459532, 1553),
 ('RIBBLESDALE GP-DR SUBBIAH', 2.209745891261483, 1100),
 ('TOWNSIDE SURGERY', 2.209745891261483, 1100),
 ('THE MAZHARI & KHAN PRACTICE', 2.2006627122644895, 912),
 ('ST ANDREWS - BRANSHOLME', 2.1967025909056024, 1634),
 ('JAMES ALEXANDER FAMILY PRACTICE', 2.1967025909056024, 1634),
 ('JAMES ALEXANDER FAMILY PRACTICE', 2.1967025909056024, 1634),
 ('B&H INTERMEDIATE CARE SERVICE', 2.1862131918267544, 456),
 ('HARDEN SURGERY', 2.155495816284959, 1228),
 ('THE GATEWAY MEDICAL PRACTICE', 2.154423496545371, 1349),
 ('QUAYSIDE MEDICAL PRACTICE', 2.1535448371359025, 1422),
 ('HASTINGS AND ROTHER OOH', 2.076490970994684, 291),
 ('FISHPONDS FAMILY PRACTICE', 2.0743592136603786, 1632),
 ('DRS CLOAK  CHOI AND MILLIGAN', 2.0511156727220916, 1661),
 ("ST MARY'S SURGERY", 2.041026500575296, 981),
 ('THE THORNTON PRACTICE', 1.9970130183083867, 1970),
 ('IC24 LTD (EAST SURREY OOH)', 1.9530599800408153, 194),
 ('CORNISHWAY GROUP PRACTICE', 1.9529030654485127, 1506),
 ('CORNISHWAY GROUP PRACTICE', 1.9529030654485127, 1506),
 ('CORNISHWAY GROUP PRACTICE', 1.9529030654485127, 1506),
 ('PREMIER HEALTH TEAM', 1.9342677920567377, 876),
 ('CONCORD MEDICAL PRACTICE', 1.9339605744520654, 1386),
 ('COULBY MEDICAL PRACTICE', 1.9268085445885355, 1585),
 ('PARKSIDE MEDICAL CENTRE', 1.9235518278308144, 1314),
 ('THE DISCOVERY PRACTICE', 1.9047661015943373, 1268),
 ('ANCORA MEDICAL PRACTICE', 1.8854159223309173, 2347),
 ('DARWEN HEALTHLINK', 1.8822754121466374, 2019),
 ('JALAL PRACTICE', 1.8661104279692897, 885),
 ('ROOLEY LANE MED. CENTRE', 1.8635817801511316, 1522),
 ('GREAT HOMER STREET MEDICAL CENTRE', 1.813002119840964, 1062),
 ('NORTHPOINT', 1.8024326949572382, 1137)]

In [176]:
grader.score.dw__script_anomalies(anomalies)

==================
Your score:  0.8800000000000006
==================

## Question 5: script_growth

Another way to identify anomalies is by comparing current data to historical data. In the case of identifying sites of drug abuse, we might compare a practice's current rate of opioid prescription to their rate 5 or 10 years ago. Unless the nature of the practice has changed, the profile of drugs they prescribe should be relatively stable. We might also want to identify trends through time for business reasons, identifying drugs that are gaining market share. That's what we'll do in this question.

We'll load in beneficiary data from 6 months earlier, June 2016, and calculate the percent growth in prescription rate from June 2016 to January 2017 for each `bnf_name`. We'll return the 50 items with largest growth and the 50 items with the largest shrinkage (i.e. negative percent growth) as a list of tuples sorted by growth rate in descending order in the format `(script_name, growth_rate, raw_2016_count)`. You'll notice that many of the 50 fastest growing items have low counts of prescriptions in 2016. Filter out any items that were prescribed less than 50 times.

In [ ]:
# load the 2017 data
scripts = pd.read_csv('./dw-data/201701scripts_sample.csv.gz',compression = 'gzip')

In [64]:
# load the 2016 data
scripts16 = pd.read_csv('./dw-data/201606scripts_sample.csv.gz',compression = 'gzip')
scripts16.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity
0,N85638,0301011R0,Salamol_Inha 100mcg (200 D) CFF (Teva),2,2.92,2.73,2
1,N85638,0301011R0,Easyhaler_Salbutamol Sulf 200mcg (200D),1,6.63,6.15,1
2,N85638,0301020I0,Ipratrop Brom_Inh Soln 500mcg/2ml Ud,1,1.77,1.75,12
3,N85638,0301020I0,Ipratrop Brom_Inh Soln 250mcg/1ml Ud,1,4.47,4.15,20
4,N85638,0302000C0,Clenil Modulite_Inha 50mcg (200D),1,3.70,3.44,1

In [65]:
scripts16_drug = scripts16.groupby('bnf_name')['items'].count()
scripts16_drug = scripts16_drug.reset_index().drop_duplicates()
scripts16_drug.columns = ['bnf_names','items_16']
scripts16_drug.head()

                                  bnf_names  items_16
0    365 Film 15cm x 20cm VP Adh Film Dress         1
1      365 Film 4cm x 5cm VP Adh Film Dress         1
2  365 Non Adherent 10cm x 10cm Pfa Plas Fa         3
3  365 Non Woven Island 10cm x 10cm Adh Dre         1
4  365 Non Woven Island 10cm x 15cm Adh Dre         1

In [60]:
scripts17_drug = scripts.groupby('bnf_name')['items'].count()
scripts17_drug = scripts17_drug.reset_index().drop_duplicates()
scripts17_drug.columns = ['bnf_names','items_17']
scripts17_drug.head()

                                  bnf_names  items_17
0    365 Film 10cm x 12cm VP Adh Film Dress         1
1  365 Non Adherent 10cm x 10cm Pfa Plas Fa         3
2  365 Non Adherent 10cm x 20cm Pfa Plas Fa         1
3  365 Non Woven Island 8cm x 10cm Adh Dres         1
4  365 Transpt Island 5cm x 7.2cm VP Adh Fi         2

In [66]:
drug_trends = scripts16_drug.merge(scripts17_drug, on ='bnf_names').drop_duplicates('bnf_names')
drug_trends.head(10)

                                  bnf_names  items_16  items_17
0  365 Non Adherent 10cm x 10cm Pfa Plas Fa         3         3
1  365 Transpt Island 8.5cm x 15.5cm VP Adh         1         1
2  3m Health Care_Cavilon Durable Barrier C       825       816
3  3m Health Care_Cavilon No Sting 1ml Barr       231       223
4  3m Health Care_Cavilon No Sting 3ml Barr       105        94
5   3m Health Care_Cavilon No Sting Barrier       454       412
6           4Head_Top Headache Relief Stick         2         4
7                        A & P_Infants Pdrs         5         5
8         A.S Saliva Orthana Spy 50ml (App)        84       121
9  A.S Saliva Orthana Spy Refill 500ml (App         9         6

In [69]:
drug_trends['rate_16'] = drug_trends['items_16']/drug_trends['items_16'].sum()
drug_trends['rate_17'] = drug_trends['items_17']/drug_trends['items_17'].sum()
drug_trends['growth'] = (drug_trends['items_17'] -drug_trends['items_16'])/drug_trends['items_16']
drug_trends.head()

,bnf_names,items_16,items_17,rate_16,rate_17,growth
0,365 Non Adherent 10cm x 10cm Pfa Plas Fa,3,3,0.000003,0.000003,0.000000
1,365 Transpt Island 8.5cm x 15.5cm VP Adh,1,1,0.000001,0.000001,0.000000
2,3m Health Care_Cavilon Durable Barrier C,825,816,0.000856,0.000848,-0.010909
3,3m Health Care_Cavilon No Sting 1ml Barr,231,223,0.000240,0.000232,-0.034632
4,3m Health Care_Cavilon No Sting 3ml Barr,105,94,0.000109,0.000098,-0.104762

In [86]:
sum_growth=(drug_trends['items_17'].sum()-drug_trends['items_16'].sum())/drug_trends['items_16'].sum()
sum_growth

-0.001225762390994331

In [96]:
drug_trends['growth_rate'] = sum_growth + drug_trends['growth']

In [97]:
script_growth = drug_trends[drug_trends['items_16']>50]
script_growth.head()

,bnf_names,items_16,items_17,rate_16,rate_17,growth,growth_rate
2,3m Health Care_Cavilon Durable Barrier C,825,816,0.000856,0.000848,-0.010909,-0.012135
3,3m Health Care_Cavilon No Sting 1ml Barr,231,223,0.000240,0.000232,-0.034632,-0.035858
4,3m Health Care_Cavilon No Sting 3ml Barr,105,94,0.000109,0.000098,-0.104762,-0.105988
5,3m Health Care_Cavilon No Sting Barrier,454,412,0.000471,0.000428,-0.092511,-0.093737
8,A.S Saliva Orthana Spy 50ml (App),84,121,0.000087,0.000126,0.440476,0.439250

In [98]:
script_growth = script_growth[['bnf_names','growth_rate','items_16']]
script_growth.head()

                                  bnf_names  growth_rate  items_16
2  3m Health Care_Cavilon Durable Barrier C    -0.012135       825
3  3m Health Care_Cavilon No Sting 1ml Barr    -0.035858       231
4  3m Health Care_Cavilon No Sting 3ml Barr    -0.105988       105
5   3m Health Care_Cavilon No Sting Barrier    -0.093737       454
8         A.S Saliva Orthana Spy 50ml (App)     0.439250        84

In [99]:
script_growth.sort_values('growth_rate', ascending=False, inplace=True)
script_growth.head()

                                     bnf_names  growth_rate  items_16
1467           Butec_Transdermal Patch 5mcg/hr     3.466516        62
1465          Butec_Transdermal Patch 10mcg/hr     2.998774        69
4415  Fostair NEXThaler_Inh 200mcg/6mcg (120D)     1.429007        86
8498     Pneumococcal_Vac 0.5ml Vl (23 Valent)     1.268204       193
9993  Spiolto Respimat_Inha2.5/2.5mcg(60D)+Dev     1.268005        52

In [106]:
script_growth['items_16'] = script_growth.items_16.astype(float)

In [108]:

data1 = script_growth.head(50)
data1 = data1.values.tolist()
script_growths = []
for d in data1:
    script_growths.append(tuple(d))

In [109]:
script_growth.sort_values('growth_rate', ascending=True, inplace=True)
script_growth.head()

                               bnf_names  growth_rate  items_16
8517                Polyalc_Eye Dps 1.4%    -0.997549     272.0
1978                        Climesse_Tab    -0.943255      69.0
1976                    Climaval_Tab 1mg    -0.927696     136.0
8007                         Ovysmen_Tab    -0.926599      67.0
5230  Hydroxyzine HCl_Oral Soln 10mg/5ml    -0.916119      94.0

In [110]:
data2 = script_growth.head(50)
data2 = data2.values.tolist()
for d in data2:
    script_growths.append(tuple(d))

In [45]:
script_growth = [("Butec_Transdermal Patch 5mcg\/hr", 3.4677419355, 62.0)] * 100

In [111]:
grader.score.dw__script_growth(script_growths)

==================
Your score:  0.9900000000000007
==================

## Question 6: rare_scripts

Does a practice's prescription costs originate from routine care or from reliance on rarely prescribed treatments? Commonplace treatments can carry lower costs than rare treatments because of efficiencies in large-scale production. While some specialist practices can't help but avoid prescribing rare medicines because there are no alternatives, some practices may be prescribing a unnecessary amount of brand-name products when generics are available. Let's identify practices whose costs disproportionately originate from rarely prescribed items.

First we have to identify which `'bnf_code'` are rare. To do this, find the probability $p$ of a prescription having a particular `'bnf_code'` if the `'bnf_code'` was randomly chosen from the unique options in the beneficiary data. We will call a `'bnf_code'` rare if it is prescribed at a rate less than $0.1p$.

In [121]:
rare_scripts = scripts
p = 1/rare_scripts['bnf_code'].nunique()
rates = rare_scripts.groupby('bnf_code')['bnf_code'].count()
rates = rates.rename('bnf code count').reset_index()
rare_values = rates['bnf code count'] / rare_scripts['bnf_code'].count()
rare_codes =rates[rare_values < 0.1*p]['bnf_code'].tolist()
rare_scripts['rare'] = rare_scripts['bnf_code'].isin(rare_codes)
rare_scripts.head()

,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,rare
0,N85639,0106020C0,Bisacodyl_Tab E/C 5mg,1,0.39,0.47,12,False
1,N85639,0106040M0,Movicol Plain_Paed Pdr Sach 6.9g,1,4.38,4.07,30,False
2,N85639,0301011R0,Salbutamol_Inha 100mcg (200 D) CFF,1,1.50,1.40,1,False
3,N85639,0304010G0,Chlorphenamine Mal_Oral Soln 2mg/5ml,1,2.62,2.44,150,False
4,N85639,0401020K0,Diazepam_Tab 2mg,1,0.16,0.26,6,False

Now for each practice, calculate the proportion of costs that originate from prescription of rare treatments (i.e. rare `'bnf_code'`). Use the `'act_cost'` field for this calculation.

In [82]:
rare_cost_prop = rare_scripts[rare_scripts['rare']].groupby('practice')['act_cost'].sum() / rare_scripts.groupby('practice')['act_cost'].sum().astype(float)
rare_cost_prop.fillna(0, inplace=True)
rare_cost_prop = rare_cost_prop.rename('rare cost prop').reset_index()
rare_cost_prop.head()

  practice  rare cost prop
0   A81005        0.012017
1   A81007        0.008381
2   A81011        0.005116
3   A81012        0.013747
4   A81017        0.007359

Now we will calculate a z-score for each practice based on this proportion.
First take the difference of `rare_cost_prop` and the proportion of costs originating from rare treatments across all practices.

In [70]:
from scipy import stats

In [117]:
standard_errors = stats.sem(rare_cost_prop['rare cost prop'])

In [87]:
rare_cost_prop['Z-score'] = stats.zscore(rare_cost_prop['rare cost prop'])

In [126]:
mean_val = rare_scripts[rare_scripts['rare']]['act_cost'].sum() / rare_scripts['act_cost'].sum()
rare_cost_prop = rare_scripts[rare_scripts['rare']].groupby('practice')['act_cost'].sum() / rare_scripts.groupby('practice')['act_cost'].sum().astype(float)
rare_cost_prop.fillna(0, inplace=True)

relative_rare_cost_prop = rare_cost_prop - mean_val 
standard_errors = relative_rare_cost_prop.std()

mean_val, standard_errors

(0.015962901360950386, 0.06050888706745139)

In [132]:
rare_scores = (relative_rare_cost_prop / standard_errors).rename('z-score').reset_index()
rare_scores.columns =['practice','Z-score']
rare_scores.head()

  practice   Z-score
0   A81005 -0.065216
1   A81007 -0.125308
2   A81011 -0.179263
3   A81012 -0.036615
4   A81017 -0.142190

In [ ]:
relative_rare_cost_prop =

In [ ]:
rare_scores = ...

In [88]:
rare_scores = rare_cost_prop
rare_scores.head()

  practice  rare cost prop   Z-score
0   A81005        0.012017 -0.141131
1   A81007        0.008381 -0.201257
2   A81011        0.005116 -0.255244
3   A81012        0.013747 -0.112513
4   A81017        0.007359 -0.218150

In [133]:
rare_scores.sort_values('Z-score', ascending=False, inplace=True)
rare_scores = rare_scores[['practice','Z-score']]
rare_scores.columns = ['code','Z-score']
rare_scores.head()

       code    Z-score
765  Y03472  16.262687
831  Y05320  15.128648
793  Y04404   7.542139
766  Y03484   7.287222
794  Y04424   6.838614

In [134]:
rare_practices = practices[['code','name','post_code']].drop_duplicates('code')
rare_practices.head()

     code                        name post_code
0  A81001         THE DENSHAM SURGERY  TS18 1HU
1  A81002  QUEENS PARK MEDICAL CENTRE  TS18 2AW
2  A81003   VICTORIA MEDICAL PRACTICE  TS26 8DB
3  A81004      WOODLANDS ROAD SURGERY   TS1 3BE
4  A81005          SPRINGWOOD SURGERY  TS14 7DJ

In [135]:
result = rare_scores.merge(rare_practices,on= 'code', how = 'left')
result.head()

     code    Z-score                               name post_code
0  Y03472  16.262687           CONSULTANT DIABETES TEAM   PE1 2QP
1  Y05320  15.128648     DMC COMMUNITY DERMATOLOGY RBWF   B61 0AZ
2  Y04404   7.542139  OUTPATIENTS JUBILEE HEALTH CENTRE   SM6 0HY
3  Y03484   7.287222   DMC COMMUNITY DERMATOLOGY CLINIC  ME12 3LT
4  Y04424   6.838614                     DMC HEALTHCARE   SS8 0JA

Now we will estimate the standard errors (i.e. the denominator of the z-score) by simply taking the standard deviation of this difference.

In [136]:
data = result[['code','name','Z-score']]
data.head()

     code                               name    Z-score
0  Y03472           CONSULTANT DIABETES TEAM  16.262687
1  Y05320     DMC COMMUNITY DERMATOLOGY RBWF  15.128648
2  Y04404  OUTPATIENTS JUBILEE HEALTH CENTRE   7.542139
3  Y03484   DMC COMMUNITY DERMATOLOGY CLINIC   7.287222
4  Y04424                     DMC HEALTHCARE   6.838614

Finally compute the z-scores. Return the practices with the top 100 z-scores in the form `(post_code, practice_name, z-score)`. Note that some practice codes will correspond with multiple names. In this case, use the first match when sorting names alphabetically.

In [47]:
rare_scripts = [("Y03472", "CONSULTANT DIABETES TEAM", 16.2626871247)] * 100

In [137]:
def tuples(result):
    answer = []
    for values in result.values:
        answer.append(tuple(values))
    return(answer)

In [138]:
rare_scripts = tuples(data.head(100))
rare_scripts

[('Y03472', 'CONSULTANT DIABETES TEAM', 16.262687124655073),
 ('Y05320', 'DMC COMMUNITY DERMATOLOGY RBWF', 15.128648195416869),
 ('Y04404', 'OUTPATIENTS JUBILEE HEALTH CENTRE', 7.54213935610462),
 ('Y03484', 'DMC COMMUNITY DERMATOLOGY CLINIC', 7.287222200297828),
 ('Y04424', 'DMC HEALTHCARE', 6.838614181432866),
 ('Y00631', 'BINGLEY DERMATOLOGY CLINIC', 5.75599754983774),
 ('A89038', 'BARMSTON MEDICAL CENTRE', 5.664940368539935),
 ('Y01696', 'BASSETLAW HOSPICE OF THE GOOD SHEPHERD', 4.290685171474921),
 ('Y03699', 'OLDHAM DERMATOLOGY SERVICE', 4.103743999157244),
 ('Y02045', 'VERNOVA HEALTHCARE CIC', 3.1807154704143983),
 ('Y02823', 'DMC VICARAGE LANE', 3.054121649498702),
 ('Y00997', 'COMMUNITY DERMATOLOGY SERVICE', 3.018128359535277),
 ('Y05019', 'OLDHAM TOTAL SKIN SERVICE', 2.7247515958989283),
 ('Y01003', 'BURY OOH', 2.350436347139858),
 ('Y05431', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 2.0371585432333865),
 ('Y03557', 'IPU 10-17 RECOVERY COVENTRY', 2.0304495001187792),
 ('Y05419', 'WEEKEND WORKING EASINGTON NORTH', 2.0029603055317033),
 ('Y05434', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.617815561802807),
 ('L84042', 'LONDON MEDICAL PRACTICE', 1.6040122379818667),
 ('Y04871', 'LEARNING ASSESSMENT & NEUROCARE BURY', 1.4408185020947357),
 ('Y05432', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.3052021753375485),
 ('F86057', 'THE WILLOWS PRACTICE', 1.280956281894272),
 ('L81673', 'BCH DERMATOLOGY SERVICE', 1.2779474429274984),
 ('Y04089', "VIRGINCARE STOCKTON LLP(M'BORO)", 1.205585821536491),
 ('Y03762', 'BASSETLAW HEALTH PARTNERSHIP', 1.1547690310997736),
 ('Y05430', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.122760467986764),
 ('B85030', 'SCRIVINGS CLECKHEATON HLTH CTR', 1.103502377336562),
 ('P81736', 'WHITEFIELD HEALTHCARE', 1.0939581886026775),
 ('Y00570', 'TOLWORTH HOSPITAL GP DERM SERV', 1.051561915279194),
 ('Y04606', 'LANCASTER HOUSE CONTINENCE', 1.0328515953934714),
 ('P81712', 'DARWEN HEALTH CENTRE', 1.0286324480322657),
 ('Y05433', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 1.027801098310148),
 ('Y02943', 'NEUROLOGY LONG TERM CONDITIONS', 0.9576943719522105),
 ('P84051', 'EASTLANDS MEDICAL CENTRE', 0.9070372260702894),
 ('Y02203', 'EASINGTON DERMATOLOGY CLINIC', 0.8830665514715633),
 ('G82704', 'THE CHURCH VIEW PRACTICE', 0.8688187586905597),
 ('F81070', 'GRAFTON SURGERY', 0.8466362126602007),
 ('Y05435', 'NOTTS APPLIANCE MANAGEMENT SERVICE', 0.8245199350473523),
 ('P82625', 'CHARLOTTE STREET SURGERY', 0.7738455888380996),
 ('P82640', 'AL FAL MEDICAL GROUP', 0.7188956515487629),
 ('F84706', 'DR SKS SWEDAN', 0.7187925567143413),
 ('Y01168', 'COMMUNITY GYNAECOLOGY SERVICE', 0.680294754937742),
 ('N81080', 'NORTHGATE MEDICAL CENTRE', 0.6661638079014608),
 ('A87022', 'NORTHUMBERLAND PARK MEDICAL GROUP', 0.6387318815059378),
 ('B83058', 'THE AVICENNA MEDICAL PRACTICE', 0.5975595360581426),
 ('M85766', 'BALSALL HEATH HEALTH CENTRE (S)', 0.5631450010961307),
 ('G81658', 'THE STATION PRACTICE', 0.5331888751077345),
 ('M85715', 'SOHO ROAD PRIMARY CARE CENTRE', 0.5292269288022778),
 ('E85659', 'DR RK KUKAR  PARKVIEW CTR FOR H&W', 0.5224575320213929),
 ('M85716', "DR KHUROO'S PRACTICE", 0.5057276127409458),
 ('B83067', 'THE SPRINGFIELD SURGERY (BINGLEY)', 0.501482611056885),
 ('B84011', 'CHURCH LANE SURGERY', 0.4971525440866812),
 ('B83032', 'BRADFORD MOOR PRACTICE', 0.4846018519341162),
 ('Y00469', "DR MA SIMS' PRACTICE", 0.4807898234276762),
 ('H81034', 'MADEIRA MEDICAL', 0.4734461208205337),
 ('A83071', 'THE NEW SEAHAM MEDICAL GROUP', 0.449331293126233),
 ('P91633', 'GROVE MEDICAL PRACTICE', 0.41490953303333816),
 ('P84032', 'DR MOKASHI', 0.41412117824419364),
 ('F84086', 'DR N DRIVER & PARTNERS', 0.41010853569042116),
 ('C83041', 'THE WOODLAND MEDICAL PRACTICE', 0.40138982620908986),
 ('G82162', 'RAINHAM HEALTHY LIVING CENTRE', 0.393922979076173),
 ('A83051', 'MARLBOROUGH SURGERY', 0.3778275531156093),
 ('C84714', 'SUNRISE MEDICAL PRACTICE (GHATTAORA)', 0.36171473108349395),
 ('B82016', 'EAST PARADE SURGERY', 0.3557702463337187),
 ('C84691', 'HIGHGREEN PRACTICE (KHAN)', 0.3433615333473626),
 ('L82001', 'LANDER MEDICAL PRACTICE', 0.33235665421941707),
 ('G84027', 'ELM HOUSE SURGERY', 0.32992048438337207),
 ('Y02957', 'LEWISHAM GP LED HEALTH CENTRE', 0.32435502195888544),
 ('G85095', 'MANOR PLACE SURGERY', 0.31837462196154365),
 ('E82656', 'CASSIO SURGERY - E82656', 0.30990494051873824),
 ('M91017', 'NORTHGATE MEDICAL CENTRE', 0.30899661675601364),
 ('L84008', "ST.GEORGE'S SURGERY", 0.3030552835025272),
 ('P81099', 'DR THM MACKENZIE & PARTNERS', 0.2999109640678622),
 ('E85018', "DR SOOD'S PRACTICE", 0.28911226062072876),
 ('Y04951', 'ARDEN HEALTHCARE CENTRE', 0.2887489271620815),
 ('N82051', 'BREEZE HILL - SSP HEALTH LIMITED', 0.28046854394239895),
 ('H81097', 'RIVER WEY MEDICAL PRACTICE', 0.2791932466218151),
 ('C82667', 'THE CHARNWOOD PRACTICE', 0.27023096949600767),
 ('C87622', 'THE GATE', 0.2664585596184689),
 ('E85723', 'NORTHOLT FAMILY PRACTICE', 0.26528020519467377),
 ('C84013', 'BRIDGEGATE AND TALL TREES PARTNERSHIP', 0.26366935264953073),
 ('E85126', 'GREEN PRACTICE', 0.26221153146662574),
 ('P92024', 'THE CHANDLER SURGERY', 0.26051575498627844),
 ('Y01929', 'TRINITY HEALTHCARE PARTNERSHIP', 0.25690238903585116),
 ('K82078', 'DR ALLAN AND PARTNERS', 0.2533573488637121),
 ('M85068', 'THE VESEY PRACTICE', 0.25158414215632147),
 ('G85034', 'PRINCESS STREET GROUP PRACTICE', 0.2478114526939599),
 ('P88023', 'HEALD GREEN HEALTH CENTRE 2', 0.24216851539060344),
 ('M83629', 'DRAYTON ROAD SURGERY', 0.2336160725696232),
 ('M83063', 'NORTON CANES HEALTH CENTRE', 0.23290147960328128),
 ('H81615', 'FARNHAM DENE MEDICAL PRACTICE', 0.23242313968072845),
 ('D81024', 'THOMAS WALKER', 0.22415411809062796),
 ('K83051', 'WEAVERS MEDICAL', 0.22201042583580333),
 ('G85134', 'THE LISTER PRIMARY CARE CENTRE', 0.21810202517578295),
 ('Y00278', 'DARLASTON HEALTH CENTRE-KHAN', 0.21228353307860784),
 ('Y02671', 'THE PRACTICE HEART OF HOUNSLOW', 0.20880880182432582),
 ('F84631', 'DR PI ABIOLA', 0.20539081662007141),
 ('B81012', 'DR AP KUMAR', 0.20369059525865613),
 ('C83613', 'CAISTOR HEALTH CENTRE', 0.20350023874284506),
 ('M91614', 'STROUD PRACTICE', 0.20050528609272353)]

In [141]:
grader.score.dw__rare_scripts(rare_scripts)

==================
Your score:  0.9300000000000006
==================

*Copyright &copy; 2019 The Data Incubator.  All rights reserved.*